.custom-vermelho {
    -fx-border-color: #ff0000;
    -fx-border-left-width: 2px;
    /*-fx-background-color: rgba(255, 0, 0, 0.2);*/
}

.custom-amarelo {
    -fx-border-color: #ffff00;
    -fx-border-left-width: 2px;
    /*-fx-background-color: rgba(255, 255, 0, 0.2);*/
}

.custom-verde {
    -fx-border-color: #2eff00;
    -fx-border-left-width: 2px;
    /*-fx-background-color: rgba(46, 255, 0, 0.22);*/
}